.company-page {
  padding: 20px;
}

.company-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.company-card {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  height: 180px;
  background-color: #1c1c1c;
  transition: transform 0.2s ease;
}

.company-card:hover {
  transform: translateY(-2px);
}

.card-img img {
  width: 100px;
  height: 100px;
  display: block;
  margin-right: 20px;
  border-radius: 5px;
}
