.company-page {
  padding: 20px;
}

.company-page-hero {
  text-align: center;
  padding: 100px 0;
}

.company-page-hero p {
  width: 50%;
  font-size: 1rem;
  margin: 20px auto;
}

.company-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.company-card {
  padding: 20px;
  border-radius: 5px;
  height: 200px;
  background-color: #1c1c1c;
  transition: transform 0.2s ease;
}

.company-card:hover {
  transform: translateY(-2px);
}

.card-header {
  display: flex;
  align-items: center;
}

img {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 5px;
}

/* For tablet screens */
@media (max-width: 1800px) {
  .company-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  img {
    width: 60px;
    height: 60px;
  }
}

/* For tablet screens */
@media (max-width: 1023px) {
  .company-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  img {
    width: 60px;
    height: 60px;
  }
  .company-page-hero p {
    width: 100%;
    margin: 20px auto;
  }
}

/* For mobile screens */
@media (max-width: 800px) {
  .company-cards {
    grid-template-columns: 1fr;
  }
}
