.company-detail-page {
  width: 60%;
  margin: 20px auto;
}

.company-detail-page p {
  line-height: 2;
  margin-bottom: 20px;
}

.company-detail-page h1 {
  margin-bottom: 20px;
}

img {
  border-radius: 10px;
  margin-bottom: 20px;
}

.company-identifier {
  display: flex;
  align-items: center;
}

.company-identifier .company-socials {
  margin-left: 20px;
}

.company-identifier .company-socials a {
  margin: 0 8px;
  font-size: 1.2rem;
}

.industry-tag {
  background-color: #1c1c1c;
  font-weight: 500;
  margin: 10px 0;
  color: #fff;
  width: auto;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
}

.founders,
.investors {
  display: flex;
  margin-bottom: 20px;
}

.investors ul,
.founders ul {
  margin-left: 20px;
}

.founders ul li,
.investors ul li {
  list-style: none;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

/* For mobile screens */
@media (max-width: 800px) {
  .company-detail-page {
    width: 100%;
    padding: 0 20px;
  }
}
